<% form_for(:movie, url_for(:movies, :create)) do %>
  Name   : <%= text_field_tag :name %><br />
  Rating : <%= select_tag :rating,
    :options => [['★', 1],
                 ['★★', 2],
                 ['★★★', 3],
                 ['★★★★', 4],
                 ['★★★★★', 5]],
    :selected => [['★', 1]] %><br />
  <%= submit_tag %><br />
<% end %>

<a href="/movies">List Movies</a>
