<h2>Welcome to IMDB!</h2>

<p>
  On this site you can view a list of movies people have added<br />
  You can even add your own movies and ratings!<br />
  As long as you're logged in of course!
</p>
